*{margin: 0;padding: 0;}
body{background: #444d61;font-family: "microsoft yahei";font-size: 12px;}
.box{width: 480px;background: #fff;margin: 200px auto;border-radius: 10px;}
.musicBox{padding: 10px 0px;}
.music{padding: 10px 30px;font-weight: 500;cursor: pointer;}
.music .select{width: 12px;height: 12px;border: 1px solid #dedede;display: inline-block;vertical-align: middle;margin-right: 10px;}
.music .select.check{background: url(img/check.png) no-repeat center center;}
.music .singer{float: right;}
.music.color{background: #f7c5ce;}
.bottom{background: #de4a63;height: 25px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;padding: 10px 30px;}
#allCheck{width: 12px;height: 12px;border: 1px solid #dedede;display: inline-block;vertical-align: middle;margin-right: 10px;}
#allCheck.isclick{background: url(img/check.png) no-repeat center center;}
.bottom span{vertical-align: middle;color: #fff;cursor: pointer;}
.bottom span.icon{width: 25px;height: 25px;display: inline-block;margin-left: 50px;}
.bottom span.collect{background: url(img/collect.png) no-repeat center center;background-size: 15px 15px;transition: 0.3s;}
.bottom span.iscollect{background: url(img/iscollect.png) no-repeat center center;background-size: 15px 15px;}
.bottom span.add{background: url(img/add.png) no-repeat center center;background-size: 15px 15px;}
.bottom span.del{background: url(img/del.png) no-repeat center center;background-size: 15px 15px;}
