*{margin: 0;padding: 0;}
body{font-size: 0;background:  #7490D1;}
.mainBox{text-align: center;padding: 30px 0px;}
.mainBox span{width: 35px;height: 29px;background: url(img/1.jpg) no-repeat center center;display: inline-block;background-size: 30px 29px;vertical-align: top;cursor: pointer;}
.mainBox span.prink{background: url(img/2.jpg) no-repeat center center;background-size: 30px 29px;}
.mainBox span.red{background: url(img/3.jpg) no-repeat center center;background-size: 30px 29px;}
.textLi{display: inline-block;position: relative;vertical-align: top;width: 80px;height: 35px;margin-left: 15px;}
.textLi li{list-style: none;line-height: 35px;width: 80px;text-align: center;border-radius: 5px;position: absolute;background: #DE4A63;color: #fff;font-size: 14px;opacity: 0;}
.box{margin: 200px auto;width: 440px;background: #fff;border-radius: 5px;}
.title{text-align: center;padding: 20px 100px 0px;}
.bottom{background: #DE4A63;height: 55px;line-height: 55px;width: 100%;color: #fff;text-align: center;font-size: 16px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
